{%extends 'all-pics/base.html'%}

{% block content %}
{{block.super}}



<div class="container" style="background-color: black;">

  <!-- Looping through news   -->
  {% for pics_item in pics %}

  <div class="row">
    <!-- displaying News articles -->
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <h2 class="text-center"> {{ pics_item.title }} </h2>
    </div>

  </div>
  

  {% empty %}
  <div class="container" style="background-color: black">
    <div class="row">
      <h2 class="text-center" style ="color: white; font-size: 492%;">PICTURE PATCH</h2>
    </div>
  <br>
  <br>
    <div class="row ">
      <div class="col-md-4 " >
        <div class="well well-lg "style="background-color: black;">
          <img src="/static/image/img1.jpg"  alt="static/img/img1.jpg" height=445px;>
          <br>
          <br>
          <button onclick="copyToClipboard('#p1')" style="background-color:black; color:white;">Copy image link</button>
           <br>
        </div>
      </div>

      <div class="col-md-4 " >
        <div class="well well-lg "style="background-color: black;">
          <img src="/static/image/img12.jpg" class = "img-responsive" alt="static/img/img2.jpg" height=400px;>
          <br>
          <br>
          <button onclick="copyToClipboard('#p1')" style="background-color:black; color:white;">Copy image link</button>
           <br>
        </div>
      </div>

      <div class="col-md-4 " >
        <div class="well well-lg " style="background-color: black;">
          <img src="/static/image/img3.jpg" class = "img-responsive" alt="static/img/img3.jpg" height=405px;>
          <br>
          <br>
          <button onclick="copyToClipboard('#p1')" style="background-color:black; color:white;">Copy image link</button>
           <br>
          <br>
        </div>
      </div>
  </div>
<br>
<br>
  <div class="row ">
    <div class="col-md-4 " >
      <div class="well well-lg " style="background-color: black;">
        <img src="/static/image/img4.jpg" class = "img-responsive" alt="" height=405px;>
        <br>
        <br>
        <button onclick="copyToClipboard('#p1')" style="background-color:black; color:white;">Copy image link</button>
         <br>
      </div>
    </div>

    <div class="col-md-4 " >
      <div class="well well-lg "style="background-color: black;">
        <img src="/static/image/img5.jpg" class = "img-responsive"  alt="" height=390px;>
        <br>
        <br>
        <button onclick="copyToClipboard('#p1')" style="background-color:black; color:white;">Copy image link</button>
         <br>
      </div>
    </div>

    <div class="col-md-4 " >
      <div class="well well-lg " style="background-color: black;">
        <img src="/static/image/img11.jpg" class = "img-responsive"  alt="" height=435px;>
        <br>
        <br>
        <button onclick="copyToClipboard('#p1')" style="background-color:black; color:white;">Copy image link</button>
         <br>
      </div>
    </div>
  </div>
<br>
<br>
  <div class="row ">
    <div class="col-md-4 " >
      <div class="well well-lg " style="background-color: black;">
        <img src="/static/image/img13.jpg" class = "img-responsive" alt="static/img/img1.jpg" height=475px;>
        <br>
        <br>
        <button onclick="copyToClipboard('#p1')" style="background-color:black; color:white;">Copy image link</button>
        <br>
      </div>
    </div>

    <div class="col-md-4 " >
      <div class="well well-lg " style="background-color: black;">
        <img src="/static/image/img2.jpg"  class = "img-responsive" alt="" " height=475px;>
        <br>
        <br>
        <button onclick="copyToClipboard('#p1')" style="background-color:black; color:white;">Copy image link</button>
         <br>
      </div>
    </div>

    <div class="col-md-4 " >
      <div class="well well-lg "style="background-color: black;">
          <p id="p1"><img src="/static/image/img10.jpg" class = "img-responsive" alt="" height=475px; ></p>

          <br>
          <br>
          <button onclick="copyToClipboard('#p1')" style="background-color:black; color:white;">Copy image link</button>
          <br>

      </div>
    </div>
  </div>

</div>

  {% endfor %}

</div>

{% endblock %}